{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Sid": "AmazonEC2ContainerRegistryPush/Pull",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                  {%- for account in aws_accounts %}
                  "arn:aws:iam::{{ account }}:root"{% if not loop.last %},{% endif %}
                  {%- endfor %}
                ]
            },
            "Action": [
                "ecr:GetDownloadUrlForLayer",
                "ecr:BatchGetImage",
                "ecr:BatchCheckLayerAvailability",
                "ecr:PutImage",
                "ecr:InitiateLayerUpload",
                "ecr:UploadLayerPart",
                "ecr:CompleteLayerUpload"
            ]
        }
    ]
}
